.section{
    width:50%;
    max-width: 400px;
    background-color: lightblue;
    margin-inline: auto;

    border-radius:  10px;
    padding: 18px 20px;
    margin-bottom: 1rem;
    
    display:flex;
    flex-direction: column;
    gap: 10px;
    
}